@model SolutionCoreAeroHelix.Models.Aeronave

@{
    ViewBag.Title = "Consulta de Clientes";
    Layout = "~/Views/Shared/_MasterAdmin.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>¿Deseas confirmar el eliminado de está aeronave?</h3>
    <div>
        <h4>Aeronave</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Nombre)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Modelo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Modelo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Tipo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Tipo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Anio)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Anio)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Comentarios)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Comentarios)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Estado)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Estado)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                @Html.ActionLink("Regresar", "Index")
            </div>
        }
    </div>
</body>
</html>
