@model SolutionCoreAeroHelix.Models.Ruta

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MasterAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Ruta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LocacionDestino.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocacionDestino.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocacionOrigen.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocacionOrigen.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RutaID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
