@model SolutionCoreAeroHelix.Models.Cliente

@{
    ViewBag.Title = "Registro de Clientes";
    Layout = "~/Views/Shared/_MasterAdmin.cshtml";
}

<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">Clientes</h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="#" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
                <li class="m-nav__item">
                    <a href="" class="m-nav__link">
                        <span class="m-nav__link-text">Registro</span>
                    </a>
                </li>
            </ul>
        </div>
        <div>
            <span class="m-subheader__daterange" id="m_dashboard_daterangepicker">
                <span class="m-subheader__daterange-label">
                    <span class="m-subheader__daterange-title"></span>
                    <span class="m-subheader__daterange-date m--font-inverse-light"></span>
                </span>
            </span>
        </div>
    </div>
</div>

<div class="m-content">
    <div class="col-lg-6">
        <!--begin::Portlet-->
        <div class="m-portlet m-portlet--responsive-mobile m-portlet--warning m-portlet--head-solid-bg m-portlet--bordered">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon">
                            <i class="flaticon-profile-1"></i>
                        </span>
                        <h3 class="m-portlet__head-text">
                            Información Cliente
                        </h3>
                    </div>
                </div>
            </div>

            <!--begin::Form-->
            @using (Html.BeginForm("Create", "Clientes",
                new { ReturnUrl = ViewBag.ReturnUrl },
                FormMethod.Post, new { @class = "m-form" }))
            {
                @Html.AntiForgeryToken()
                <div class="m-portlet__body">
                    <div class="m-form__section m-form__section--first">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group m-form__group">
                            <label for="example_input_full_name">Nombre del cliente</label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control m-input", placeholder = "Captura nombre de cliente" } })
                                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group m-form__group">
                            <label for="example_input_full_name">RFC</label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.RFC, new { htmlAttributes = new { @class = "form-control m-input", placeholder = "Captura RFC cliente" } })
                                @Html.ValidationMessageFor(model => model.RFC, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group m-form__group">
                            <label for="example_input_full_name">Correo</label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Correo, new { htmlAttributes = new { @class = "form-control m-input", placeholder = "Captura correo de cliente" } })
                                @Html.ValidationMessageFor(model => model.Correo, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group m-form__group">
                            <label for="example_input_full_name">Teléfono de Contacto</label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.TelefonoContacto, new { htmlAttributes = new { @class = "form-control m-input", placeholder = "Captura teléfono de contacto de cliente" } })
                                @Html.ValidationMessageFor(model => model.TelefonoContacto, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group m-form__group">
                            <label for="example_input_full_name">Dirección</label>
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Direccion, new { htmlAttributes = new { @class = "form-control m-input", placeholder = "Captura dirección de cliente" } })
                                @Html.ValidationMessageFor(model => model.Direccion, "", new { @class = "text-danger" })
                            </div>
                        </div>

                       
                    </div>
                </div>
                <div class="m-portlet__foot m-portlet__foot--fit">
                    <div class="m-form__actions m-form__actions">

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Agregar" class="btn btn-dark" />

                                @Html.ActionLink("Cancelar", "Index")
                            </div>
                        </div>
                    </div>
                </div>
            }
            <!--end::Form-->
        </div>

        <!--end::Portlet-->

    </div>


</div>
