@model IEnumerable<SolutionCoreAeroHelix.Models.Cliente>

@{
    ViewBag.Title = "Consulta de Clientes";
    Layout = "~/Views/Shared/_MasterAdmin.cshtml";
}

<!DOCTYPE html>

<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">Clientes</h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="#" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
                <li class="m-nav__item">
                    <a href="" class="m-nav__link">
                        <span class="m-nav__link-text">Consulta</span>
                    </a>
                </li>
            </ul>
        </div>
        <div>
            <span class="m-subheader__daterange" id="m_dashboard_daterangepicker">
                <span class="m-subheader__daterange-label">
                    <span class="m-subheader__daterange-title"></span>
                    <span class="m-subheader__daterange-date m--font-inverse-light"></span>
                </span>
            </span>
        </div>
    </div>
</div>

<!-- END: Subheader -->
<div class="m-content">
   
    <div class="m-portlet m-portlet--responsive-mobile m-portlet--warning m-portlet--head-solid-bg m-portlet--bordered">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Lista de clientes
                    </h3>
                </div>
            </div>
            <div class="m-portlet__head-tools">
                <ul class="m-portlet__nav">
                    <li class="m-portlet__nav-item">
                        <a href="../Clientes/Create" class="btn btn-dark m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air">
                            <span>
                                <i class="la la-plus"></i>
                                <span>Agregar Cliente</span>
                            </span>
                        </a>
                    </li>
                    <li class="m-portlet__nav-item"></li>

                </ul>
            </div>
        </div>
        <div class="m-portlet__body">

            <!--begin: Datatable -->
            <table class="table table-striped- table-bordered table-hover table-checkable" id="m_table_1">

                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RFC)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Correo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TelefonoContacto)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Direccion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.GeoLatitud)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.GeoLongitud)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Estado)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RFC)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Correo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TelefonoContacto)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Direccion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GeoLatitud)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GeoLongitud)
                        </td>
                        <td>
                            @*@Html.DisplayFor(modelItem => item.Estado)*@
                            @{
                                switch (item.Estado)
                                {
                                    case 1:
                                        <span class="m-badge m-badge--success m-badge--wide">activo</span>
                                        break;
                                    case 2:
                                        <span class="m-badge m-badge--warning m-badge--wide">bloqueado</span>
                                        break;
                                    case 3:
                                        <span class="m-badge m-badge--metal m-badge--wide">cancelada</span>
                                        break;
                                    case 4:
                                        <span class="m-badge m-badge--danger m-badge--wide">inactivo</span>

                                        break;
                                    default:
                                        <span class="m-badge m-badge--info m-badge--wide">indefinido</span>
                                        break;
                                }
                            }
                        </td>
                        <td>
                            @Html.ActionLink("Editar", "Edit", new { id = item.ClienteID }) |
                            @Html.ActionLink("Eliminar", "Delete", new { id = item.ClienteID })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>
