@model SolutionCoreAeroHelix.Models.Usuario

@{
    ViewBag.Title = "Edición de usuarios";
    Layout = "~/Views/Shared/_MasterAdmin.cshtml";
}

<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">Usuarios</h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="#" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
                <li class="m-nav__item">
                    <a href="" class="m-nav__link">
                        <span class="m-nav__link-text">Registro</span>
                    </a>
                </li>
            </ul>
        </div>
        <div>
            <span class="m-subheader__daterange" id="m_dashboard_daterangepicker">
                <span class="m-subheader__daterange-label">
                    <span class="m-subheader__daterange-title"></span>
                    <span class="m-subheader__daterange-date m--font-inverse-light"></span>
                </span>
            </span>
        </div>
    </div>
</div>


<div class="m-content">
    <div class="col-lg-6">

        <!--begin::Portlet-->
        <div class="m-portlet m-portlet--responsive-mobile m-portlet--warning m-portlet--head-solid-bg m-portlet--bordered">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon">
                            <i class="flaticon-users-1"></i>
                        </span>
                        <h3 class="m-portlet__head-text">
                            Información Usuario
                        </h3>
                    </div>
                </div>
            </div>





            @using (Html.BeginForm("Edit", "Usuarios",
                new { ReturnUrl = ViewBag.ReturnUrl },
                FormMethod.Post, new { @class = "m-form" }))
            {
                @Html.AntiForgeryToken()

            <div class="m-portlet__body">
                <h4>Usuario # <b>@Html.DisplayFor(model => model.UsuarioID)</b></h4>
                <h2></h2>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.UsuarioID)


                <div class="form-group">
                    <label for="example_input_full_name">Nombre de usuario</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label for="example_input_full_name">Contraseña</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label for="example_input_full_name">Confirmar Contraseña</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                </div>

                @*<div class="form-group">
            @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Estado, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
            </div>
        </div>*@



                <div class="form-group">
                    <label for="example_input_full_name">Cliente Asociado</label>
                    <div class="col-md-10">
                        @Html.DropDownList("ClienteID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ClienteID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label for="example_input_full_name">Perfil</label>
                    <div class="col-md-10">
                        @Html.DropDownList("PerfilID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PerfilID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="m-form__group form-group row">
                    <label class="col-3 col-form-label">Activo</label>
                    <div class="col-3">
                        <span class="m-switch m-switch--outline m-switch--success">
                            <label>
                                @*<input type="checkbox" name="Estado" id="Estado">*@
                                <input id="CBEstado" name="CBEstado" value="true" type="checkbox" onchange="getCheckValue()" />
                                <span></span>
                            </label>
                        </span>
                    </div>
                </div>

                <input type="hidden" id="Estado" name="Estado">
                @Html.HiddenFor(model => model.Estado, new { id = "estadoBD" })

                @*<div class="form-group m-form__group">
            <label for="example_input_full_name">Selecciona una acción</label>


            <div class="col-md-10">

                @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
                <div class="m-radio-list">
                    <label class="m-radio m-radio--solid m-radio--state-success">
                        <input type="radio" name="Estado" value="1"> Activo
                        <span></span>
                    </label>
                    <label class="m-radio m-radio--solid m-radio--state-danger">
                        <input type="radio" name="Estado" value="2"> Inactivo
                        <span></span>
                    </label>
                </div>
            </div>
        </div>*@


            </div>

                <div class="m-portlet__foot m-portlet__foot--fit">
                    <div class="m-form__actions m-form__actions">

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Actualizar" class="btn btn-dark" />

                                @Html.ActionLink("Cancelar", "Index")
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>

</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            if (document.getElementById("estadoBD").value == 1)
                document.getElementById("CBEstado").checked = true;
            else
                document.getElementById("CBEstado").checked = false;
        });
        function getCheckValue() {
            var x = document.getElementById("CBEstado").checked;
            if (x == true)
                document.getElementById("Estado").value = 1;
            else
                document.getElementById("Estado").value = 2;
        };

    </script>

}