@model SolutionCoreAeroHelix.Models.Capitan

@{
    ViewBag.Title = "Consulta de Clientes";
    Layout = "~/Views/Shared/_MasterAdmin.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>¿Deseas confirmal el eliminado de este capitán?</h3>
    <div>
        <h4>Capitan</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Nombre)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Comentarios)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Comentarios)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Licencia)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Licencia)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Confirmar eliminado" class="btn btn-danger" /> |
                @Html.ActionLink("Regresar", "Index")
            </div>
        }
    </div>
</body>
</html>
