@model IEnumerable<SolutionCoreAeroHelix.Models.Bolsa>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MasterAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cliente.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Minutos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MinutosRestantes)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cliente.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Minutos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MinutosRestantes)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BolsaID }) |
            @Html.ActionLink("Details", "Details", new { id=item.BolsaID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BolsaID })
        </td>
    </tr>
}

</table>
