@model SolutionCoreAeroHelix.Models.Reservacion

@{
    ViewBag.Title = "Registro de Reservaciones";
    Layout = "~/Views/Shared/_MasterAdmin.cshtml";
}

<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">Reservaciones</h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="#" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-calendar"></i>
                    </a>
                </li>
                <li class="m-nav__item">
                    <a href="" class="m-nav__link">
                        <span class="m-nav__link-text">Edición de reservaciones</span>
                    </a>
                </li>
            </ul>
        </div>
        <div>
            <span class="m-subheader__daterange" id="m_dashboard_daterangepicker">
                <span class="m-subheader__daterange-label">
                    <span class="m-subheader__daterange-title"></span>
                    <span class="m-subheader__daterange-date m--font-brand"></span>
                </span>
                <a href="#" class="btn btn-sm btn-brand m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill">
                    <i class="la la-angle-down"></i>
                </a>

            </span>
        </div>
    </div>
</div>

<div class="m-content">
    <div class="row">
        <div class="col-lg-6">
            <!--begin::Portlet-->
            <div class="m-portlet m-portlet--responsive-mobile m-portlet--warning m-portlet--head-solid-bg m-portlet--bordered">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon">
                                <i class="flaticon-calendar"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                Detalle de reservación
                            </h3>
                        </div>
                    </div>
                </div>
                @using (Html.BeginForm("Edit", "Reservaciones",
                   new { ReturnUrl = ViewBag.ReturnUrl },
                   FormMethod.Post, new { @class = "m-form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="m-portlet__body">
                        <div class="m-form__section m-form__section--first">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.ReservacionID)
                            

                            <div class="form-group m-form__group">
                                @Html.LabelFor(model => model.usuario, htmlAttributes: new { @class = "control-label col-md-12" })
                                <label for="example_input_full_name">Usuario solicitante</label>
                                <div class="col-md-10">
                                    @Html.DropDownList("UsuarioID", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.UsuarioID, "", new { @class = "text-danger" })
                                </div>
                            </div>



                            <div class="form-group m-form__group">
                                @Html.LabelFor(model => model.FechaHora, htmlAttributes: new { @class = "control-label col-md-12" })
                                <label for="example_input_full_name">Fecha y hora</label>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.FechaHora, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.FechaHora, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group m-form__group">
                                @Html.LabelFor(model => model.LocacionOrigenID, htmlAttributes: new { @class = "control-label col-md-12" })
                                <label for="example_input_full_name">Origen</label>
                                <div class="col-md-10">
                                    @Html.DropDownList("LocacionOrigenID", null, htmlAttributes: new { @class = "form-control", id = "ddlLocacionOrigen", onchange = "ddlOrigenSelectedIndexChanged()" })
                                    @Html.ValidationMessageFor(model => model.LocacionOrigenID, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group m-form__group" id="divDireccionOrigenOtro">
                                @Html.LabelFor(model => model.DireccionOrigen, htmlAttributes: new { @class = "control-label col-md-12" })
                                <label for="example_input_full_name">Origen detalle dirección</label>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.DireccionOrigen, new { htmlAttributes = new { @class = "form-control", id = "txtDireccionOrigen" } })
                                    @Html.ValidationMessageFor(model => model.DireccionOrigen, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group m-form__group">
                                @Html.LabelFor(model => model.LocacionDestinoID, htmlAttributes: new { @class = "control-label col-md-12" })
                                <label for="example_input_full_name">Destino</label>
                                <div class="col-md-10">
                                    @Html.DropDownList("LocacionDestinoID", null, htmlAttributes: new { @class = "form-control", id = "ddlLocacionDestino", onchange = "ddlDestinoSelectedIndexChanged()" })
                                    @Html.ValidationMessageFor(model => model.LocacionDestinoID, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group m-form__group" id="divDireccionDestinoOtro">
                                @Html.LabelFor(model => model.DireccionDestino, htmlAttributes: new { @class = "control-label col-md-12" })
                                <label for="example_input_full_name">Destino detalle dirección</label>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.DireccionDestino, new { htmlAttributes = new { @class = "form-control", id = "txtDireccionDestino" } })
                                    @Html.ValidationMessageFor(model => model.DireccionDestino, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group m-form__group">
                                @Html.LabelFor(model => model.DuracionVuelo, htmlAttributes: new { @class = "control-label col-md-12" })
                                <label for="example_input_full_name">Duración estimada del vuelo (mins)</label>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.DuracionVuelo, new { htmlAttributes = new { @class = "form-control", id = "txtDuracionVuelo" } })
                                    @Html.ValidationMessageFor(model => model.DuracionVuelo, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group m-form__group">
                                @Html.LabelFor(model => model.TotalPasajeros, htmlAttributes: new { @class = "control-label col-md-12" })
                                <label for="example_input_full_name">Total de pasajeros</label>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.TotalPasajeros, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.TotalPasajeros, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group m-form__group">
                                @Html.LabelFor(model => model.Equipaje, htmlAttributes: new { @class = "control-label col-md-12" })
                                <label for="example_input_full_name">Requiere equipaje</label>
                                <div class="col-md-10">
                                    <div class="checkbox">
                                        @Html.EditorFor(model => model.Equipaje)
                                        @Html.ValidationMessageFor(model => model.Equipaje, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="form-group m-form__group">
                                @Html.LabelFor(model => model.Comentario, htmlAttributes: new { @class = "control-label col-md-12" })
                                <label for="example_input_full_name">Comentarios</label>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Comentario, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off" } })
                                    @Html.ValidationMessageFor(model => model.Comentario, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group m-form__group">
                                <label for="example_input_full_name">Selecciona una acción</label>
                                <div class="col-md-10">
                                    @Html.ValidationMessageFor(model => model.StatusID, "", new { @class = "text-danger" })
                                    <div class="m-radio-list">
                                        <label class="m-radio m-radio--solid m-radio--state-success">
                                            <input type="radio" name="StatusID" value="2" checked="checked"> Confirmar
                                            <span></span>
                                        </label>
                                        <label class="m-radio m-radio--solid m-radio--state-metal">
                                            <input type="radio" name="StatusID" value="3"> Cancelar
                                            <span></span>
                                        </label>
                                        <label class="m-radio m-radio--solid m-radio--danger">
                                            <input type="radio" name="StatusID" value="4"> Cotizando
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <input type="hidden" id="hdnLocacionOrigenID" name="hdnLocacionOrigenID" value="0">
                            <input type="hidden" id="hdnLocacionDestinoID" name="hdnLocacionDestinoID" value="0">

                        </div>
                        <div class="m-portlet__foot m-portlet__foot--fit">
                            <div class="m-form__actions m-form__actions">

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Actualizar" class="btn btn-dark" />

                                        @Html.ActionLink("Cancelar", "Index")
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                }

            </div>
            <!--end::Portlet-->
        </div>
        <!--begin: comentarios-->

        <div class="col-xl-6 col-lg-12">

            <!--Begin::Portlet-->
            <div class="m-portlet m-portlet--responsive-mobile m-portlet--warning m-portlet--head-solid-bg m-portlet--bordered">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon">
                                <i class="flaticon-chat"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                Comentarios
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div class="m-scrollable m-scroller" data-scrollable="true" data-height="380" data-mobile-height="300" style="height: 300px; overflow: auto;">

                        <!--Begin::Timeline 2 -->
                        <div class="m-timeline-2">
                            <div class="m-timeline-2__items  m--padding-top-25 m--padding-bottom-30">

                                @foreach (var item in ViewBag.Comentarios){
                                <div class="m-timeline-2__item">
                                    <span class="m-widget4__sub">@item.Fecha.ToString("dd/MM/yy")</span>
                                    <span class="m-timeline-2__item-time">@item.Fecha.ToString("HH:mm")</span>
                                    <div class="m-timeline-2__item-cricle">
                                        <i class="fa fa-genderless m--font-@item.Status.Class"></i>
                                    </div>
                                    <div class="m-timeline-2__item-text m--padding-top-5 m--padding-bottom-30 m--padding-top-20">@item.Comentario</div>
                                </div>
                                }

                            </div>
                        </div>

                        <!--End::Timeline 2 -->
                    </div>
                </div>
            </div>

            <!--End::Portlet-->
        </div>
        <!--end: comentarios-->
    </div>
</div>


<script type="text/javascript">

   
    function ddlOrigenSelectedIndexChanged() {
        //Obtiene el valor del combo LocacionOrigen y lo asigna al hidden origen
        var o = document.getElementById("ddlLocacionOrigen");
        var locOrigenValue = o.options[o.selectedIndex].value;
        document.getElementById("hdnLocacionOrigenID").value = locOrigenValue;
        var hdnOrigenValue = document.getElementById("hdnLocacionOrigenID").value;

        if (hdnOrigenValue == 0) {
            alert('Debes capturar una dirección origen.');
            $("#divDireccionOrigenOtro").show("slow", function () {
                enviaDireccionOrigen('');
            });
        }
        else {
            $("#divDireccionOrigenOtro").hide("slow", function () {
                enviaDireccionOrigen(o.options[o.selectedIndex].text);
            });
        }

        ObtenerDuracion();
    };

    function ddlDestinoSelectedIndexChanged() {

        //Obtiene el valor del combo LocacionOrigen y lo asigna al hidden origen
        var d = document.getElementById("ddlLocacionDestino");
        var locDestinoValue = d.options[d.selectedIndex].value;
        document.getElementById("hdnLocacionDestinoID").value = locDestinoValue;
        var hdnDestinoValue = document.getElementById("hdnLocacionDestinoID").value;

        if (hdnDestinoValue == 0) {
            alert('Debes capturar una dirección destino.');
            $("#divDireccionDestinoOtro").show("slow", function () {
                enviaDireccionDestino('');
            });
        }
        else {
            $("#divDireccionDestinoOtro").hide("slow", function () {
                enviaDireccionDestino(d.options[d.selectedIndex].text);
            });
        }

        ObtenerDuracion();
    };

    function enviaDireccionOrigen(direccion) {
        document.getElementById("txtDireccionOrigen").value = direccion;
    }

    function enviaDireccionDestino(direccion) {
        document.getElementById("txtDireccionDestino").value = direccion;
    }
    
    function ObtenerDuracion() {
        var origen = $("#ddlLocacionOrigen").val();
        var destino = $("#ddlLocacionDestino").val();

        $("#txtDuracionVuelo").val("");

        if (origen != null && destino != null && origen != "" && destino != "") {
            $.ajax({
                method: "GET",
                url: "../Duracion",
                data: { origenID: origen, destinoID: destino }
            }).done(function (data) {
                if (data.Duracion != "0") $("#txtDuracionVuelo").val(data.Duracion);
            }).fail(function () {
                //alert("error");
            });
        };
    }

</script>

